<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eiabea.btcdroid"
    android:versionCode="46"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.eiabea.btcdroid.util.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eiabea.btcdroid.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ParticipantsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity android:name="PrefsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity android:name="CustomizeActivity" >
        </activity>

        <service
            android:name=".service.UpdateService"
            android:enabled="true" >
        </service>

        <receiver
            android:name=".service.OnDeleteReceiver"
            android:enabled="true" >
        </receiver>
        <receiver
            android:name=".service.OnBootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.TotalHashrateWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Total Hashrate" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".widget.AverageHashrateWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Average Hashrate" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".widget.ConfirmedRewardWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Confirmed Reward" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".widget.RoundDurationWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Round Duration" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".widget.EstimatedRewardWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Estimated Reward" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".widget.PriceWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Price" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widget.DashClockWidget"
            android:icon="@drawable/ic_launcher_dashclock"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/txt_dashclock_description" />

            <!--
            A settings activity is optional 
            <meta-data
                android:name="settingsActivity"
                android:value="com.eiabea.btcdroid.PrefsActivity"
                 />
            -->
        </service>
    </application>

</manifest>