<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eiabea.btcdroid"
    android:versionCode="59"
    android:versionName="1.3.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.eiabea.btcdroid.util.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name=".data.DataProvider"
            android:authorities="@string/data_provider"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.eiabea.btcdroid.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eiabea.btcdroid.ParticipantsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.eiabea.btcdroid.PrefsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
        <activity android:name="com.eiabea.btcdroid.CustomizeActivity"></activity>

        <service
            android:name="com.eiabea.btcdroid.service.UpdateService"
            android:enabled="true"></service>

        <receiver
            android:name="com.eiabea.btcdroid.service.OnDeleteReceiver"
            android:enabled="true"></receiver>
        <receiver
            android:name="com.eiabea.btcdroid.service.OnBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.TotalHashrateWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Total Hashrate">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.AverageHashrateWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Average Hashrate">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.ConfirmedRewardWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Confirmed Reward">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.RoundDurationWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Round Duration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.EstimatedRewardWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Estimated Reward">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.TotalRewardWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Total Reward">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.MultiWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Multi">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/multi_widget_info" />
        </receiver>
        <receiver
            android:name="com.eiabea.btcdroid.widget.PriceWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="BTCDroid Price">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name="com.eiabea.btcdroid.widget.DashClockWidget"
            android:icon="@drawable/ic_launcher_dashclock"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/txt_dashclock_description" />

        </service>
    </application>

</manifest>